$noticia-text: 'Noticia Text', serif

body
  color: white
  font:
    family: $noticia-text
    size: rem(16)
    weight: 400
  letter-spacing: rem(10)
  line-height: rem(12)

  @for $i from 1 through 6
    h#{$i}
      font-size: rem(30 - ($i * 5))
      color: black
      text-align: center

      > span
        background: white
        padding: 8px 10px 10px 20px

+media($small)
  html body
    font-size: rem(22)

+media($medium)
  html body
    font-size: rem(22)
