---
title: Hip Rock Attack, party by RVilches x Big B
---

<section id="home">
  <div class="content">
    <h3><span>Upcoming</span></h3>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Venue</th>
          <th>Location</th>
          <th class="rsvp">Tickets</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Jan/28</td>
          <td>Rock &amp; Breja Bar</td>
          <td>SP/Brazil, Rua Euclides Pacheo, 495</td>
          <td class="rsvp"><%= link_to "RSVP", "" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
